[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
ipython = "*"
isort = "*"
pytest = "*"
icalendar = "*"
pytest-django = "*"
faker = "*"
pylint = "*"
pylint-django = "*"
pyenchant = "*"
feedparser = "*"
model-bakery = "*"

[packages]
django = "*"
scrapy = "*"
django-model-utils = "*"
scrapy-djangoitem = "*"
python-dateutil = "*"
django-timezone-field = "*"
django-ical = "*"
gunicorn = "*"
django-heroku = "*"
dj-database-url = "*"
sentry-sdk = "*"
scrapy-sentry = "*"
django-debug-toolbar = "*"
django-csp = "*"
django-feature-policy = "*"
html2text = "*"
django-enforce-host = "*"
graphene-django = "*"
django-filter = "*"

[requires]
python_version = "3.8"
