[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
ipython = "*"
isort = "*"
pytest = "*"
icalendar = "*"
pytest-django = "*"
model-mommy = "*"
faker = "*"
pylint = "*"
pylint-django = "*"
pyenchant = "*"
feedparser = "*"

[packages]
django = "*"
scrapy = "*"
django-model-utils = "*"
scrapy-djangoitem = "*"
python-dateutil = "*"
django-timezone-field = "*"
django-ical = "*"
gunicorn = "*"
django-heroku = "*"
dj-database-url = "*"
sentry-sdk = "*"
scrapy-sentry = "*"
