{% extends 'base.html' %} {% block content %} {% load tz rough_trade_calendar %}

<div>
  <h1>{{ location.name }}</h1>
  <p>
    <a
      href="{% webcal_url location %}"
      onclick="fathom('trackGoal', 'MA4AD6AT', 0);"
      >Subscribe to Calendar</a
    >
    <a
      href="{% url 'location_events_feed' location=location.slug %}"
      onclick="fathom('trackGoal', 'KXSDESWF', 0);"
      ><span>Subscribe to </span>Feed</a
    >
    <a href="{% url 'locations' %}">Other Locations</a>
  </p>
</div>

<div>
  <h2>Not affiliated with Rough Trade</h2>
  <p>
    This was built by <a href="http://craiga.id.au">Craig Anderson</a>—a fan of
    Rough Trade's events in London—as a way to keep track of upcoming events.
  </p>
  <p>
    Visit and buy stuff from your local independent record store!
  </p>
</div>

{% timezone location.timezone %}

<div>
  {% for event in events %}
  <div>
    <a href="{{ event.url }}" onclick="fathom('trackGoal', 'OJXYOKIA', 0);">
      <img src="{{ event.image_url }}" />
      <h2>{{ event.name }}</h2>
      <p>{{ event.description }}</p>
      <p>{{ event.start_at}}</p>
    </a>
    {% if event.youtube_id %}
    <p>
      <a
        href="https://www.youtube.com/watch/?v={{ event.youtube_id }}"
        onclick="fathom('trackGoal', '5MRNLYIV', 0);"
        >YouTube</a
      >
    </p>
    {% endif %}
  </div>
  {% endfor %}
</div>

{% endtimezone %} {% endblock %} {% block title %}Events at {{ location.name
}}{% endblock %}
