{% extends 'base.html' %}

{% block content %}

{% load tz rough_trade_calendar %}

<header>
  <nav>
    <a href="{% url 'locations' %}">&lt; Other Locations</a>
  </nav>
  <h1>Coming Up @ {{ location.name }}</h1>
</header>

{% timezone location.timezone %}

<div class="posters">
  {% for event in events %}
  <div class="poster" style="order: {{ forloop.counter }}">
    <div
      class="image"
      style="background-image: url('{{ event.image_url }}')"
      nonce="{{request.csp_nonce}}"
    >
      <img
        src="{{ event.image_url }}"
        alt="{{ event.name }} {{ event.description }} at {{ event.start_at}}"
      />
    </div>
    <div class="title-and-buttons">
      <h2 class="title">{{ event.name }}</h2>
      <div class="buttons">
        <a
          href="{{ event.url }}"
          class="more-info-button"
          onclick="fathom('trackGoal', 'OJXYOKIA', 0);"
          >More Info</a
        >
        {% if event.youtube_id %}
        <a
          href="https://www.youtube.com/watch/?v={{ event.youtube_id }}"
          class="youtube-button"
          onclick="fathom('trackGoal', '5MRNLYIV', 0);"
          >YouTube</a
        >
        {% endif %}
      </div>
    </div>
    <div class="info">
      <p class="description">{{ event.description }}</p>
      <p class="date">{{ event.start_at}}</p>
    </div>
  </div>
  {% endfor %}

  <div id="poster-break"></div>

  <div class="poster" id="info-poster">
    <h2>👋</h2>
    <p>
      You can add to these events to <strong>Microsoft Outlook</strong>,
      <strong>Google Calendar</strong> or <strong>Apple Calendar</strong>. Once
      you add them, they'll stay updated.
    </p>
    <p>
      <a
        href="{% webcal_url location %}"
        onclick="fathom('trackGoal', 'MA4AD6AT', 0);"
        >Subscribe to Calendar</a
      >
    </p>
    <p>
      You can subscribe to an RSS feed of these events to be notified when new
      events are added.
    </p>
    <p>
      <a
        href="{% url 'location_events_feed' location=location.slug %}"
        onclick="fathom('trackGoal', 'KXSDESWF', 0);"
        >Subscribe to Feed</a
      >
    </p>
  </div>
</div>

{% endtimezone %}

{% endblock %}

{% block title %}Coming Up @ {{ location.name }}{% endblock %}
