{% extends 'base.html' %}

{% block title %}Events at {{ location.name }}{% endblock %}

{% block content %}

{% load tz %}

<h1>Events at {{ location.name }}</h1>

{% timezone location.timezone %}
<ul>
    {% for event in events %}
        <li><a href="{{ event.url }}">{{ event.name }} ({{ event.start_at }})</a></li>
    {% endfor %}
</ul>
{% endtimezone %}

<p><a href="{{ webcal_url }}">Subscribe to calendar on Mac, iOS or Outlook</a> or subscribe to <span class="code">{{ cal_url }}</span> elsewhere.</p>

{% endblock %}
