{% extends 'base.html' %} {% block title %}Rough Trade Calendars{% endblock %}
{% block content %} {% load rough_trade_calendar %}

<div>
  <h1>Rough Trade Calendars</h1>
</div>

<div>
  <h2>Not affiliated with Rough Trade</h2>
  <p>
    This was built by <a href="http://craiga.id.au">Craig Anderson</a>—a fan of
    Rough Trade's events in London—as a way to keep track of upcoming events.
  </p>
  <p>
    Visit and buy stuff from your local independent record store!
  </p>
</div>

<div>
  {% for location in locations %}
  <h2>
    <a href="{% url 'location_events' location=location.slug %}"
      >{{ location.name }}</a
    >
  </h2>
  <p>
    <a href="{% url 'location_events' location=location.slug %}">View Events</a>
    <a
      href="{% webcal_url location %}"
      onclick="fathom('trackGoal', 'GC0QWAHF', 0);"
      >Subscribe to Calendar</a
    >
    <a
      href="{% url 'location_events_feed' location=location.slug %}"
      onclick="fathom('trackGoal', '7X1PAZQM', 0);"
      >Subscribe to Feed</a
    >
  </p>
  {% endfor %}
</div>

{% endblock %}
