@use "../colours" as *;
@use "../utils";

header {
  background: $yellow;
  border-bottom: 1px solid $black;
  box-shadow: 1px 1px 5px $black;
  margin-bottom: 2rem;

  h1 {
    padding: 3rem 1rem;
    padding-bottom: 3rem;
    font-size: 5rem;
    margin: 0;
  }
  nav {
    background: $black;
    color: $white;
    a {
      display: inline-block;
      padding: 1rem;
      color: $white;
      text-decoration: none;
    }
  }
  @media (max-width: utils.remToPx(80rem)) {
    h1 {
      font-size: 3rem;
    }
  }
  @media (max-width: utils.remToPx(40rem)) {
    h1 {
      font-size: 2rem;
    }
  }
}

