<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}?{{ site.github.build_revision }}">
  </head>

  <body>
    <header>
      <h1>{{ page.title }}</h1>
    </header>
    {{ content }}
    <footer>
      <p>
        Built by <a href="http://craiga.id.au">Craig Anderson</a> of
        <a href="http://uhf62.co.uk">UHF 62</a>-a fan of Rough Trade's events in
        London—as a way to keep track of upcoming events.
      </p>
      <p><strong>Not affiliated with Rough Trade.</strong></p>
      <p>Visit and buy stuff from your local independent record store!</p>
    </footer>
    <!-- Fathom - simple website analytics - https://usefathom.com -->
    <script>
      if (window.location.hostname === "rough-trade-calendars.craiga.id.au") {
        (function (f, a, t, h, o, m) {
          a[h] =
            a[h] ||
            function () {
              (a[h].q = a[h].q || []).push(arguments);
            };
          (o = f.createElement("script")),
            (m = f.getElementsByTagName("script")[0]);
          o.async = 1;
          o.src = t;
          o.id = "fathom-script";
          m.parentNode.insertBefore(o, m);
        })(document, window, "https://cdn.usefathom.com/tracker.js", "fathom");
        fathom("set", "siteId", "VAOFIXFV");
        fathom("trackPageview");
      }
    </script>
    <!-- / Fathom -->
  </body>
</html>
